@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(53, 71, 99, 0.9)),
    url('img/strang1.webp');
  background-position: fixed;
  background-size: cover;

  height: 100vh;
}
#logo {
  width: 140px;
}
#icon {
  font-size: 33px;
  color: #fff;
}

.container h3 {
  margin-top: 350px;
  font-family: 'Cinzel', serif;
  color: #fff;
  font-weight: lighter;
  word-spacing: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
@media (max-width: 600px) {
  #logo {
    width: 100px;
  }
  .container h3 {
    font-size: 1rem;
    word-spacing: normal;
  }
}
